@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
}
body {
    height: 100%;
    background: url(background.jpg);
    background-size: 25%;
    background-repeat: repeat;
}
.wrapper {
    width: 100%;
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
}

#home {
    background: url(bghome1.png);
    height: 555px;
    text-align: center;
}
#profile {
    background: url(bghome2.png);
    height: 620px;
    text-align: center;
}
#works {
    background: url(bghome3.png);
    height: 877px;
    text-align: center;
}
#contact {
    background: url(bghome4.png);
    height: 613px;
    text-align: center;
}

#profile-part1 {
    background: url(profile-bg1.png);
    height: 784px;
}
#profile-part2 {
    background: url(profile-bg2.png);
    height: 1088px;
}
#works1a {
    background: url(bg-works1a.png);
    height: 547px;
}
#works1b {
    background: url(bg-works1b.png);
    height: 786px;
}
#works2a {
    background: url(bg-works2a.png);
    height: 610px;
}
#works2b {
    background: url(bg-works2b.png);
    height: 940px;
}
#works3a {
    background: url(bg-works3a.png);
    height: 780px;
}
#works3b {
    background: url(bg-works3b.png);
    height: 1530px;
}
#c-part1 {
    background: url(bg-contact1.png);
    height: 1010px;
}
#c-part2 {
    background: url(bg-contact2.png);
    height: 862px;
}

.button {
    cursor: pointer;
}
.button :hover {
    transform: scale(1.15);
    z-index: 1;
}
.mail :hover {
    opacity: 0.8;
}
.mail img {
    margin-top: 40px;
}

.top {
    position: absolute;
    margin-left: 540px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    z-index: 99;
}
.top img {
    margin: 25px 11px;
}
.disc h1 {
    font-family: "Itim", serif;
    color: #f4f8f9;
    font-size: 16px;
    text-align: justify;
    position: absolute;
    margin-top: 410px;
    margin-left: 20px;
    max-width: 240px;
}
.disc a:link {
    color: #ffebca;
}
.disc a:visited {
    color: #aee1dd;
}
.disc a:hover {
    color: #fb7e93;
}

.notice h2 {
    color: #5991a1;
    font-family: "Itim", serif;
    font-size: 24px;
    text-align: justify;
    margin: 30px 0 0 150px;
}
.notice h2 a:link {
    color: #e0c28e;
}
.notice h2 a:visited {
    color: #fb7e93;;
}
.notice h2 a:hover {
    color: #aee1dd;
}

.return {
    text-align: center;
    margin-top: -130px;
}

.profile img {
    max-width: 670px;
    margin-top: 70px;
}
.profile :hover {
    transform: scale(1.15);
    z-index: 1;
}
.title-w img {
    margin-top: 90px;
    margin-left: 770px;
}
.title-w :hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.6s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}
  
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.title-c img {
    margin-top: 60px;
}
.sns {
    text-align: center;
    margin: 50px 300px 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.sns img {
    max-width: 100px;
}
.sns-c {
    text-align: center;
    padding-top: 100px;
    position: relative;
    display: flex;
    margin-left: 460px;
}
.sns-c img {
    max-width: 90px;
    margin: 0 12px;
}

.text-p {
    font-family: "Itim", serif;
    color: #5d69bd;
    font-size: 14px;
    text-align: justify;
    text-justify: inter-word;
    justify-content: space-between;
    position: absolute;
    margin-top: 245px;
    margin-left: 325px;
    max-width: 590px;
}
.p-part1 img {
    margin-top: 255px;
    margin-left: 70px;
    position: absolute;
}
.p-part2 {
    max-width: 990px;
    font-family: "Itim", serif;
    position: absolute;
}
.art {
    margin-left: 390px;
    margin-right: 150px;
    text-align: justify;
}
.art h1 {
    color: #f4f8f9;
    font-size: 38px;
    margin-top: 222px;
}
.art h2 {
    color: #5d69bd;
    font-size: 28px;
    margin-top: 20px;
}

.audio {
    margin-left: 390px;
    margin-right: 150px;
    text-align: justify;
}
.audio h1 {
    color: #f4f8f9;
    font-size: 38px;
    margin-top: 26px;
}
.audio h2 {
    color: #5d69bd;
    font-size: 28px;
    margin-top: 20px;
}
.audio a:link {
    color: #76b9b5;
}
.audio a:visited {
    color: #fb7e93;
}
.audio a:hover {
    color: #aee1dd;
}

.dot1 {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #fffbf5;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dot2 {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #f8b5b5;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dot1:hover, .dot1.active {
    background-color: #76b9b5;
} 
.dot2:hover, .dot2.active{
    background-color: #fffbf5;
}

.prev1, .next1 {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 18px;
    color: #b5e8e4;
    background-color: #5d69bd;
    font-weight: bold;
    font-size: 22px;
    border-radius: 20px;
    user-select: none;
    margin: 360px 50px;
}
.prev2, .next2 {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 18px;
    color: #ffebca;
    background-color: #de7474;
    font-weight: bold;
    font-size: 22px;
    border-radius: 20px;
    user-select: none;
    margin: 90px 50px;
}
.next {
    right: 0;
}
.prev:hover, .next:hover {
    transform: scale(1.3);
    z-index: 1;
}
.banner {
    position: relative;
}
.myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #fb7e93;
    color: #fcf7e7;
    cursor: pointer;
    padding: 20px;
    border-radius: 15px;
    font-size: 28px;
  }
  
.myBtn:hover {
    background-color: #aee1dd;
}

#works1a h1 {
    font-family: "Itim", serif;
    color: #5991a1;
    font-size: 44px;
    text-align: justify;
    text-justify: inter-word;
    justify-content: space-between;
    position: absolute;
    margin-top: 180px;
    margin-left: 135px;
}
#works1b h1 {
    font-family: "Itim", serif;
    color: #5991a1;
    font-size: 44px;
    text-align: justify;
    text-justify: inter-word;
    justify-content: space-between;
    position: absolute;
    margin-top: 280px;
    margin-left: 135px;
}
.carousel-view h1 {
    font-family: "Itim", serif;
    color: #5d69bd;
    font-size: 44px;
    text-align: justify;
    text-justify: inter-word;
    justify-content: space-between;
    position: absolute;
    margin-top: 40px;
    margin-left: 135px;
}

.comm h1 {
    font-family: "Itim", serif;
    color: #fff496;
    font-size: 44px;
    text-align: justify;
    text-justify: inter-word;
    justify-content: space-between;
    padding-top: 180px;
    margin-left: 135px;
}
.pouch {
    text-align: center;
}
.pouch h1 {
    font-family: "Itim", serif;
    color: #5d69bd;
    font-size: 44px;
    text-align: justify;
    text-justify: inter-word;
    justify-content: space-between;
    position: absolute;
    margin-left: 135px;
}
.pouch h2 {
    font-family: "Itim", serif;
    color: #5d69bd;
    background-color: hwb(0 100% 0% / 0.688);
    font-size: 38px;
    font-weight: bold;
    text-align: justify;
    text-justify: inter-word;
    justify-content: space-between;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 110px;
    max-width: 770px;
    padding: 20px;
}
.pouch img {
    margin-top: 70px;
}
.personal h1 {
    font-family: "Itim", serif;
    color: #e48888;
    font-size: 44px;
    text-align: justify;
    text-justify: inter-word;
    justify-content: space-between;
    padding-top: 180px;
    margin-left: 135px;
}
.zurarts {
    text-align: center;
    justify-content: space-between;
}
.zurarts img {
    max-width: 800px;
    margin: 20px;
}

.mySlides1 {
    display: none;
    height: 515px;
}
.mySlides2 {
    display: none;
    height: 220px;
}
.mySlides1 img  {
    position: absolute;
    top: 275px;
    left: 0;
    right: 0;
    width: 720px;
    margin: auto;
    -webkit-filter: drop-shadow(2px 2px 2px #5d69bd);
    filter: drop-shadow(5px 5px 5px #5d689bd);
}
.mySlides2 img  {
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    width: 720px;
    margin: auto;
    -webkit-filter: drop-shadow(2px 2px 2px #de7474);
    filter: drop-shadow(5px 5px 5px #de7474);
}
.slideshow-container3 {
    text-align: center;
    margin-top: 20px;
}
.webs {
    text-align: center;
    margin-top: 145px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.resto img {
    margin-left: 120px;
}
.hotel img {
    margin-right: 120px;
}
.webs :hover {
    transform: scale(1.05);
    z-index: 1;
}
.carousel-view {
}
.owl-carousel {
    padding-top: 160px;
    position: relative;
}
.owl-carousel .item {
    max-width: 300px;
    margin-left: 10px;
}
.owl-carousel .item img {
    height: 100%;
    object-fit: cover;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    position: relative;
    font-size: 4rem;
    top: 20px;
    transform: translateY(-70%);
}
.owl-carousel .owl-nav button.owl-next {
    right: -2rem;
}
.owl-carousel .owl-nav button.owl-prev {
    left: -2rem;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #76b9b5;
    color: #fcf7e7;
    cursor: pointer;
    padding: 20px;
    border-radius: 15px;
    font-size: 28px;
  }
#myBtn:hover {
    background-color: #aee1dd;
}
.contact-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 185px;
}
.contact-title {
    display: flex;
}
.img2 img {
    margin-top: 22px;
    margin-left: 22px;
}
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
}
.contact-inputs {
    width: 700px;
    height: 50px;
    border-radius: 10px;
    border: 3px solid #5991a1;
    padding-left: 12px;
    font-family: "Itim", serif;
}
.contact-form textarea {
    height: 240px;
    border: 3px solid #5991a1;
    padding-top: 10px;
    resize: none;
}
.contact-inputs::placeholder {
    font-size: 16px;
    color: #83b7c5;
}
.contact-form button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-family: "Itim", serif;;
    font-size: 18px;
    color: #5991a1;
    gap: 8px;
    border: 3px solid #5991a1;
    border-radius: 10px;
    background-color: #9ddeda;
    -webkit-filter: drop-shadow(2px 2px 2px #5991a1);
    filter: drop-shadow(2px 2px 2px #5991a1);
    cursor: pointer;
}
button :hover {
    transform: scale(1.1);
    z-index: 1;
}