@import url('https://fonts.googleapis.com/css2?family=Potta+One&family=Zen+Kurenaido&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
}
body {
    height: 100%;
    background: url(background.jpg);
    background-size: 50%;
    background-repeat: repeat;
}
.wrapper {
    background-color: rgb(199, 246, 251);
    width: 100%;
    max-width: 990px;
    height: 2650px;
    margin-left: auto;
    margin-right: auto;
}